/*  FOOTER BAR  */

footer {
  font-family: 'Raleway', sans-serif;
  background-color:#333333;
}


#botbar1{
	background-color:#C1BBAB;
	margin: 0;
	padding: 0;
  position:relative;
	/* top: 75px; */
  top: 85px;
	left: 0px;
	z-index: 9;
	height: 7px;
	width: 100%;
}
/* Why is this exactly 927? I do not know! Trial-and-error. */
@media screen and (max-width: 927px) {
  #botbar1{
    top: 65px;
  }
}


#feynmanfoot{
	/*background-image:url('http://physics.ucr.edu/~flip/images/feynmanfooter.png');*/
	background-size: 250px 200px;
	background-repeat:no-repeat;
	background-position:left top;
  pointer-events: none;
	margin: 0;
	padding: 0;
	position: absolute;
  position: relative;
	/* bottom: 97px; */
  bottom: 67px;
	/*left: 700px;*/
  left: 75vw;
  right:25vw;
	z-index: 200;
	height: 200px;
	width: 250px;
	text-align: right;
}
@media screen and (max-width: 980px) {
  #feynmanfoot{
    left: 68vw;
    bottom: 87px;
  }
}
@media screen and (max-width: 767px) {
  #feynmanfoot{
    left: 50vw;
  }
}
@media screen and (max-width: 480px) {
  #feynmanfoot{
    left: 10vw;
  }
}

/* Kludge for overscrolling */
body{
  background-color:#333333;
}

#THECONTENT{
  background-color: #ffffff;
}




/* FOOTER  */

footer {
  margin: 4rem 0 0;
  padding: 2rem 0;
  width: 100%;
}

footer p {
  font-size: 0.75rem;
  text-align: left;
}

.site-footer,
footer a#back_to_top i {
  color: #899596;
}

#footer-col-1, #footer-col-2, #footer-col-3{
  font-size : .75rem;
  padding-bottom: 15px;
}

#footer-col-2 img{
  opacity: .85;
  max-width: 150px;
}

#footer-col-2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size : .65rem;
}

#footer-col-3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size : .65rem;
  color: #7C7C7C;
}

#footer-col-3 a{
  /* color: #688B62; */
}

@media screen and (max-width: 480px) {
  #footer-col-1{
    /* padding-top: 35px; */
  }
}
